<button type="button" class="btn btn-primary" (click)="openModal(template)">Open modal</button>
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                    <div class="row">
                        <div class="col-sm-5 form-group">
                            <label for="category">Category</label>
                            <input 
                            type="text" 
                            id="name" 
                            class="form-control"
                            name="category"
                            ngModel
                            required>
                        </div>
                        <div class="col-sm-7 form-group">
                            <label for="activity">Idea</label>
                            <input 
                            type="text" 
                            id="activity" 
                            class="form-control"
                            name="activity"
                            ngModel
                            required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-success" type="submit">Add</button>
                            <button class="btn btn-danger" type="button">Delete</button>
                            <button class="btn btn-primary" type="button">Clear</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>

